:root {
    --light-beige: rgb(254, 242, 225);
    --regular-font-color: rgba(245, 219, 183, 0.75);
    
    --highlight-text-color: rgba(111, 28, 0, 0.649);
    --highlight-color: rgba(255, 254, 233, 0.912);

    --glow-color: linear-gradient(
		to right,
		rgba(243, 165, 70, 0.45),
		rgb(255, 218, 70, 0.45)
	);
	--glow-size: 20vw;
}

html {
    overflow: hidden;
}

@font-face {
    font-family: pixelFont;
    src: url("fonts/PixelPro2P.eot");
    src: url("fonts/PixelPro2P.eot?#iefix") format("embedded-opentype"),
        url("fonts/PixelPro2P.woff2") format("woff2"),
        url("fonts/PixelPro2P.woff") format("woff"),
        url("fonts/PixelPro2P.ttf") format("truetype"),
        url("fonts/PixelPro2P.svg#PixelPro2P") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: regFont;
    src: url("fonts/DePixel-Bold.eot");
    src: url("fonts/DePixel-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/DePixel-Bold.woff2") format("woff2"),
        url("fonts/DePixel-Bold.woff") format("woff"),
        url("fonts/DePixel-Bold.ttf") format("truetype"),
        url("fonts/DePixel-Bold.svg#DePixel-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    background-color: #3b2924;
    border-radius: 15px;
}
::-webkit-scrollbar-corner{
    background-color: #3b2924;
}
::-webkit-scrollbar-thumb {
    background: #d8b26046;
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
    height:10px;
    transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #d8b260a9;
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
    height:10px;
    transition: all 0.5s ease;
}

::selection {
    background: var(--highlight-color);
    color: var(--highlight-text-color);
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 100px;
    cursor: url(images/cursor2.png), auto;
}

#container {
    display: grid;
    grid-template-columns: 45% 55%;
}

#left {
    display: grid;
    grid-template-columns: auto;
    align-content: start;
    padding-left: 7.5vw;
    padding-top: 3.5vw;
}

#left h1 {
    font-family: pixelFont;
    color: var(--light-beige);
    font-size: 5vw;
    animation: colorChange 4s infinite;
}

#options {
    display: grid;
    gap: 3.5vw;
    margin-left: 5vw;
}

#options button {
    color: var(--regular-font-color);
    padding: 0%;
    width: fit-content;
    background-color: transparent;
    border: none;
    text-shadow: 2px 2px 5px rgb(192, 148, 5);
    font-family: regFont;
    font-size: 1.75vw;
    transition: all 0.5s ease 0s;
    text-align: left;
    cursor: url(images/cursor2.png), default;
}

#right {
    height: 100%;
}

#right-container {
    display: grid;
    background-color: rgb(2, 2, 1, 0.35);
    box-shadow: 2px 2px 2px rgba(180, 170, 138, 0.5);
    border-radius: 15px;
    grid-template-columns: auto;
    margin-top: 4vw;
    margin-right: 2.5vw;
    padding: 2vw;
    opacity: 0;
    height: 40vw;          
    overflow-x: hidden; 
    overflow-y: auto;
    align-content: start;
    transition: opacity 0.75s;
}

#right-container.open {
    opacity: 1;
}

#right-container * {
    z-index: 3;
}

#right-container h1 {
    font-family: regFont;
    color: var(--light-beige);
    text-shadow: 3px 3px 5px rgb(35, 14, 2);
    font-size: 2.75vw;
    animation: sizePulse 7.5s infinite;
}

#right-container h1:hover {
    color: var(--light-beige);
}

#right-container h2 {
    font-family: pixelFont;
    color: var(--regular-font-color);
    text-shadow: 2px 2px 5px rgb(54, 38, 5);
    font-size: 2.25vw;
}

a {
    color: var(--highlight-color);
}

#credits {
    position: absolute;
    bottom: 0px;
    opacity: 0.25;
    transform: scale(0.7);
}

.credits-box {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgb(96, 64, 12);
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(255, 195, 117, 0.758);
    border-radius: 10px;
}

#glow {
    pointer-events: none;
	animation: glow-animation 45s infinite;
	background: var(--glow-color);
	filter: blur(75px);
	opacity: 0.3;
	width: var(--glow-size);
	height: var(--glow-size);
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
    z-index: 2;
}

@keyframes glow-animation {
    0%{rotate: 0deg; transform: scale(0.5);}
	50%{rotate: 180deg; transform: scale(1);}
	100%{rotate: 360deg; transform: scale(0.5);}
}

@keyframes colorChange {
    100%{text-shadow: 0px 0px 5px rgba(192, 148, 5, 0.352), 2px 2px 2.5px rgb(40, 32, 2);}
    50%{text-shadow: 0px 0px 15px rgba(240, 192, 34, 0.313), 2px 2px 2.5px rgb(40, 32, 2);}
    0%{text-shadow: 0px 0px 5px rgba(192, 148, 5, 0.352), 2px 2px 2.5px rgb(40, 32, 2);}
}

@keyframes sizePulse {
    0%{transform: scale(1);}
	50%{transform: scale(1.025);}
	100%{transform: scale(1);}
}